/* Grid Setup 16x16 */
.container {
    width: 650px;
    height: 650px;
    outline-style: solid;
}

.row {
    display: flex;
}

.square {
    outline-style: solid;
    outline-width: thin;
}

/* Hover Changing Color Effect */
.color {
    background-color: black;
}