/* Grid Setup 16x16 */
.grid {
    width: 650px;
    height: 650px;
    outline-style: solid;
}

.row {
    display: flex;
}

.square {
    outline-style: solid;
    outline-width: thin;
    opacity: 1;
}

.remove-grid-lines {
    outline-style: none;
}

/* Page Layout */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin-top: 50px;
}

.side-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
}

/* Button and slider styling */
button {
    width: 150px;
    height: 40px;
    border-radius: 8px;
    margin-top: 8px;
}

button:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: darkgray;
}

.slider-container, h1 {
    text-align: center;
}

button, input {
    cursor: pointer;
}